# Load Libraries

In [10]:
import os
import warnings
import logging
import sys
import pickle
import numpy as np
import pandas as pd
import geopandas as gpd
import dotenv
import pyet
import matplotlib.pyplot as plt

dotenv.load_dotenv()
logging.basicConfig(level=logging.INFO)
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_colwidth', None)

# Load Data

In [11]:
data = pd.read_parquet(path="D:\Pooya\Storegs\Dropbox\IRIMO\Export\Iran_Daily_ETo_1951_2025.parquet")

In [12]:
data.columns

Index(['date', 'station_id', 'station_name', 'region_id', 'region_name', 'lat',
       'lon', 'station_elevation', 'tmax', 'tmin', 'tm', 'umax', 'umin', 'um',
       'ffm', 'sshn', 'rrr24', 'pm', 'p0m', 'ewm', 'radglo24', 'evt', 'td_m',
       'twet_m', 'tsoil_m', 'ewsm', 'Penman', 'Penman-Monteith', 'ASCE-PM',
       'FAO-56', 'Priestley-Taylor', 'Kimberly-Penman', 'Thom-Oliver',
       'Blaney-Criddle', 'Hamon', 'Romanenko', 'Linacre', 'Turc',
       'Jensen-Haise', 'Mcguinness-Bordne', 'Hargreaves', 'FAO-24', 'Abtew',
       'Makkink', 'Oudin'],
      dtype='object')

# ETo

In [13]:
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month

In [14]:
monthly_data = data.groupby(
    ['region_id', 'region_name', 'station_id', 'station_name', 'year', 'month'],
    group_keys=True
).agg({
    'date': 'count',
    'lat': 'first',
    'lon': 'first',
    'station_elevation': 'first',
    'tmax': ['mean', 'count'],
    'tmin': ['mean', 'count'],
    'tm': ['mean', 'count'],
    'umax': ['mean', 'count'],
    'umin': ['mean', 'count'],
    'um': ['mean', 'count'],
    'ffm': ['mean', 'count'],
    'sshn': ['mean', 'count'],
    'rrr24': ['sum', 'count'],
    'pm': ['mean', 'count'],
    'p0m': ['mean', 'count'], 
    'ewm': ['mean', 'count'], 
    'radglo24': ['sum', 'count'],
    'evt': ['sum', 'count'],
    'td_m': ['mean', 'count'],
    'twet_m': ['mean', 'count'],
    'tsoil_m': ['mean', 'count'],
    'ewsm': ['mean', 'count'], 
    'Penman': ['sum', 'count'], 
    'Penman-Monteith': ['sum', 'count'], 
    'ASCE-PM': ['sum', 'count'],
    'FAO-56': ['sum', 'count'],
    'Priestley-Taylor': ['sum', 'count'],
    'Kimberly-Penman': ['sum', 'count'],
    'Thom-Oliver': ['sum', 'count'],
    'Blaney-Criddle': ['sum', 'count'],
    'Hamon': ['sum', 'count'],
    'Romanenko': ['sum', 'count'],
    'Linacre': ['sum', 'count'],
    'Turc': ['sum', 'count'],
    'Jensen-Haise': ['sum', 'count'],
    'Mcguinness-Bordne': ['sum', 'count'],
    'Hargreaves': ['sum', 'count'],
    'FAO-24': ['sum', 'count'],
    'Abtew': ['sum', 'count'],
    'Makkink': ['sum', 'count'],
    'Oudin': ['sum', 'count'],
})

monthly_data.columns = ['_'.join(col).strip() for col in monthly_data.columns.values]
monthly_data.columns = [col.replace('_first', '').replace('_mean', '').replace('_sum', '') for col in monthly_data.columns]
monthly_data = monthly_data.reset_index()

monthly_data = monthly_data.round(2)

for col in monthly_data.columns:
    if col.endswith('_count'):
        if col == 'date_count':
            continue
        mean_col = col.replace('_count', '')
        monthly_data.loc[monthly_data[col] == 0, mean_col] = np.nan

for col in monthly_data.columns:
    if col.endswith('_count'):
        if col == 'date_count':
            continue
        monthly_data[col] = (monthly_data[col] / monthly_data['date_count']) * 100
        monthly_data[col] = monthly_data[col].round(2)

monthly_data.columns = [col.replace('_count', '_percent') for col in monthly_data.columns]

monthly_data.drop(columns=['date_percent'], inplace=True)

monthly_data

,region_id,region_name,station_id,station_name,year,month,lat,lon,station_elevation,tmax,tmax_percent,tmin,tmin_percent,tm,tm_percent,umax,umax_percent,umin,umin_percent,um,um_percent,ffm,ffm_percent,sshn,sshn_percent,rrr24,rrr24_percent,pm,pm_percent,p0m,p0m_percent,ewm,ewm_percent,radglo24,radglo24_percent,evt,evt_percent,td_m,td_m_percent,twet_m,twet_m_percent,tsoil_m,tsoil_m_percent,ewsm,ewsm_percent,Penman,Penman_percent,Penman-Monteith,Penman-Monteith_percent,ASCE-PM,ASCE-PM_percent,FAO-56,FAO-56_percent,Priestley-Taylor,Priestley-Taylor_percent,Kimberly-Penman,Kimberly-Penman_percent,Thom-Oliver,Thom-Oliver_percent,Blaney-Criddle,Blaney-Criddle_percent,Hamon,Hamon_percent,Romanenko,Romanenko_percent,Linacre,Linacre_percent,Turc,Turc_percent,Jensen-Haise,Jensen-Haise_percent,Mcguinness-Bordne,Mcguinness-Bordne_percent,Hargreaves,Hargreaves_percent,FAO-24,FAO-24_percent,Abtew,Abtew_percent,Makkink,Makkink_percent,Oudin,Oudin_percent
0,ALKK,Alborz,18554,Zidashte Taleghan,1951,1,36.13,50.68,2255.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
1,ALKK,Alborz,18554,Zidashte Taleghan,1951,2,36.13,50.68,2255.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
2,ALKK,Alborz,18554,Zidashte Taleghan,1951,3,36.13,50.68,2255.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
3,ALKK,Alborz,18554,Zidashte Taleghan,1951,4,36.13,50.68,2255.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
4,ALKK,Alborz,18554,Zidashte Taleghan,1951,5,36.13,50.68,2255.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693376,QOQM,Qom,99440,Kahak,2025,5,34.40,50.87,1403.10,32.10,100.00,18.04,100.00,25.07,100.00,36.13,100.00,14.87,100.00,23.45,100.00,3.39,100.00,10.69,96.77,4.21,100.00,1004.42,100.00,858.08,100.00,7.22,100.00,81513.00,96.77,356.40,100.00,1.72,100.00,13.41,100.00,15.55,100.00,34.00,100.00,175.06,96.77,247.23,96.77,245.90,96.77,245.90,96.77,154.53,96.77,151.56,96.77,207.52,96.77,130.11,96.77,190.57,96.77,423.64,96.77,202.06,96.77,220.88,96.77,217.93,96.77,215.80,96.77,180.25,96.77,202.95,96.77,165.82,96.77,155.67,96.77,146.81,96.77
693377,QOQM,Qom,99440,Kahak,2025,6,34.40,50.87,1403.10,33.87,100.00,20.21,100.00,27.04,100.00,33.67,100.00,15.43,100.00,22.38,100.00,3.95,100.00,11.86,100.00,0.20,100.00,1000.70,100.00,855.78,100.00,7.69,100.00,89844.00,100.00,420.70,100.00,2.62,100.00,14.44,100.00,17.50,100.00,38.39,100.00,198.27,100.00,286.30,100.00,284.10,100.00,284.10,100.00,173.03,100.00,175.20,100.00,233.74,100.00,145.19,100.00,235.26,100.00,467.92,100.00,229.64,100.00,248.76,100.00,255.94,100.00,240.60,100.00,194.49,100.00,232.75,100.00,180.16,100.00,173.38,100.00,163.67,100.00
693378,QOQM,Qom,99440,Kahak,2025,7,34.40,50.87,1403.10,37.27,100.00,24.75,100.00,31.03,100.00,30.45,100.00,15.19,100.00,21.33,100.00,4.77,100.00,10.66,100.00,0.20,100.00,996.82,100.00,854.28,100.00,9.42,100.00,86281.00,100.00,517.50,100.00,5.72,100.00,16.87,100.00,22.58,100.00,46.93,100.00,214.03,100.00,337.27,100.00,333.71,100.00,333.71,100.00,174.05,100.00,189.68,100.00,263.36,100.00,164.23,100.00,296.91,100.00,561.51,100.00,289.53,100.00,253.66,100.00,277.99,100.00,274.50,100.00,205.44,100.00,239.65,100.00,173.01,100.00,173.48,100.00,186.73,100.00
693379,QOQM,Qom,99440,Kahak,2025,8,34.40,50.87,1403.10,36.37,100.00,23.30,100.00,29.83,100.00,26.03,100.00,13.68,100.00,18.72,100.00,4.63,100.00,11.78,100.00,0.00,100.00,1001.30,100.00,857.65,100.00,7.99,100.00,84898.00,100.00,496.60,100.00,3.17,100.00,15.76,100.00,20.97,100.00,44.53,100.00,201.96,100.00,328.04,100.00,324.82,100.00,324.82,100.00,158.90,100.00,180.06,100.00,253.52,100.00,147.35,100.00,245.68,100.00,553.92,100.00,271.92,100.00,259.69,100.00,271.52,100.00,243.85,100.00,187.72,100.00,240.93,100.00,175.12,100.00,173.69,100.00,165.89,100.00
693380,QOQM,Qom,99440,Kahak,2025,9,34.40,50.87,1403.10,33.17,100.00,19.13,100.00,26.15,100.00,30.00,100.00,14.43,100.00,20.62,100.00,3.39,100.00,10.69,100.00,0.20,100.00,1002.91,100.00,857.37,100.00,6.85,100.00,32811.00,47.62,241.20,100.00,1.16,100.00,13.66,100.00,17.00,100.00,36.27,100.00,103.83,100.00,163.04,100.00,162.02,100.00,162.02,100.00,82.21,100.00,93.37,100.00,134.32,100.00,81.29,100.00,115.79,100.00,323.12,100.00,152.25,100.00,144.13,100.00,140.64,100.00,129.34,100.00,106.77,100.00,127.35,100.00,102.05,100.00,97.34,100.00,87.99,100.00

# Export

In [15]:
monthly_data.to_parquet('D:\Pooya\Storegs\Dropbox\IRIMO\Export\Iran_Monthly_Daily_ETo_1951_2025.parquet')
logging.info("Monthly ETo data saved to pickle and parquet files.")

INFO:root:Monthly ETo data saved to pickle and parquet files.